@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* COLORS */
$primary-color: #78cdd7;
$secondary-color: #0d5c63;
$input-color: #157b84;

/* BODY STYLING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

p {
	line-height: 1.5;
	font-size: 16px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

/* ----------NAVBAR----------- */
.navbar {
	height: 60px;
	width: 100%;
	z-index: 1;
	position: absolute;
	background-color: $primary-color;
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
		6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
		22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
		100px 100px 80px rgba(0, 0, 0, 0.07);
}

.menu-icon {
	display: none;
}

.nav-elements ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
	margin-right: 60px;
}

.nav-elements ul a {
	font-size: 16px;
	color: $secondary-color;
	text-decoration: none;
}

.nav-elements ul a.active {
	color: #574c4c;
	position: relative;
}

.nav-elements ul a.active::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #574c4c;
}

.nav-button {
	border: 1px solid $secondary-color;
	padding: 5px 10px 5px 10px;
	border-radius: 15px;
	background-color: $secondary-color;
}

.nav-item {
	font-weight: bold;
}

@media (max-width: 768px) {
	.nav-elements ul li:not(:last-child) {
		margin-right: 30px;
	}
}

@media (max-width: 600px) {
	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.nav-elements {
		position: absolute;
		right: 0;
		top: 60px;
		background-color: $primary-color;
		width: 0px;
		height: calc(100vh - 60px);
		transition: all 0.3s ease-in;
		overflow: hidden;
	}

	.nav-elements.active {
		width: 270px;
	}

	.nav-elements ul {
		display: flex;
		flex-direction: column;
	}

	.nav-elements ul li {
		margin-right: unset;
		margin-top: 22px;
	}
}

/* PROFILE  */

/* LOGIN */
// SCSS styles

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #d1d1d1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 400px;
		padding: 30px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		&__title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		hr {
			border: 1px solid black;
			width: 100%;
		}

		&__register-link {
			margin: 10px 0px;
			color: blue;
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				color: navy;
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			width: 100%;

			&__label {
				font-size: 16px;
				margin-bottom: 5px;
			}

			&__input {
				padding: 10px;
				margin-bottom: 10px;
				border-radius: 5px;
				border: 1px solid #ccc;

				&:focus {
					outline: none;
					border-color: blue;
				}
			}

			&__submit {
				padding: 10px;
				background-color: blue;
				color: #fff;
				border: none;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					background-color: navy;
				}
			}
		}
	}
}

/* PROFILE */
.profile-container {
	background-color: #f5f5f5;
	min-height: 100vh;

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 100px;

		.border {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			background-color: #fff;

			.profile-header {
				display: flex;
				align-items: center;
				padding: 10px;
				border-bottom: 1px solid black;
				.profile-photo {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					margin-right: 20px;
				}

				.user-info {
					display: flex;
					flex-direction: column;

					h1 {
						margin: 0;
						font-size: 24px;
						font-weight: bold;
					}

					p {
						margin: 0;
						font-size: 16px;
						color: #666;
					}
				}
			}
			.profile-main {
				display: flex;

				.left {
					width: 30%;
					padding: 20px;
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					p {
						font-size: 16px;
						margin: 0;
						color: #666;
					}
				}

				.right {
					width: 70%;
					padding: 20px;
					border-left: 1px solid black;
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					form {
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 20px 0px;

						textarea {
							width: 100%;
							padding: 10px;
							border: 1px solid #ccc;
							border-radius: 5px;
							resize: none;
							margin-bottom: 10px;
							font-size: 16px;
							color: #333;
						}

						input[type='submit'] {
							background-color: #333;
							color: #fff;
							width: 100%;
							border: none;
							border-radius: 5px;
							padding: 10px 20px;
							font-size: 16px;
							cursor: pointer;

							&:hover {
								background-color: #555;
							}
						}
					}
					.post {
						border: 1px solid #ccc;
						border-radius: 5px;
						padding: 20px;
						margin-bottom: 20px;

						.post-header {
							display: flex;
							align-items: center;
							margin-bottom: 10px;

							.post-icon {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								background-color: #ccc;
								margin-right: 10px;
							}

							.post-author {
								font-size: 16px;
								font-weight: bold;
								margin-right: 10px;
							}

							.post-date {
								font-size: 14px;
								color: #666;
							}
						}

						.post-content {
							font-size: 16px;
							color: #333;
							margin-bottom: 10px;
						}

						.post-footer {
							display: flex;
							justify-content: space-between;
							border-top: 1px solid black;

							button {
								background-color: transparent;
								border: none;
								cursor: pointer;
								font-size: 14px;
								color: #666;
								margin-right: 10px;

								&:hover {
									color: #333;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Desktop Styles */
.profile-container .wrapper {
	max-width: 1200px;
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
	.profile-container .wrapper {
		max-width: 768px;
		padding-top: 60px;
	}
	.profile-container .wrapper .border .profile-main {
		flex-direction: column;
	}
	.profile-container .wrapper .border .profile-main .left,
	.profile-container .wrapper .border .profile-main .right {
		width: 100%;
		border: none;
	}
	.profile-container .wrapper .border .profile-main .right {
		margin-top: 20px;
	}
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
	.profile-container .wrapper {
		padding-top: 40px;
	}
	.profile-container .wrapper .border .profile-header {
		flex-direction: column;
		align-items: center;
	}
	.profile-container .wrapper .border .profile-header .profile-photo {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.profile-container .wrapper .border .profile-header .user-info {
		text-align: center;
	}
	.profile-container .wrapper .border .profile-main {
		flex-direction: column;
	}
	.profile-container .wrapper .border .profile-main .left,
	.profile-container .wrapper .border .profile-main .right {
		width: 100%;
		border: none;
		padding: 10px;
	}
	.profile-container .wrapper .border .profile-main .right {
		margin-top: 20px;
	}
}
