@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* COLORS */
$primary-color: #78cdd7;
$secondary-color: #0d5c63;
$input-color: #157b84;

/* BODY STYLING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

p {
	line-height: 1.5;
	font-size: 16px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* ----------NAVBAR----------- */
.navbar {
	height: 60px;
	width: 100%;
	z-index: 1;
	position: fixed;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 40px;
}

.logo input[type='text'] {
	padding: 10px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 300px;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.logo input[type='submit'] {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.logo input[type='submit'] svg {
	width: 24px;
	height: 24px;
	fill: #fff;
	transition: all 0.3s ease-in-out;
}

.logo input[type='submit']:hover svg {
	transform: rotate(90deg);
}

.middle ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.middle ul li:not(:last-child) {
	margin-right: 40px;
}

.nav-item {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.nav-item:hover {
	color: #ccc;
}

.nav-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
	position: relative;
}

.profile-wrapper {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.profile-wrapper:hover {
	background-color: #ccc;
	color: #fff;
	border-color: #fff;
}

.profile-wrapper.active {
	background-color: #ccc;
	color: #fff;
	border-color: #fff;
}

.profile-wrapper span {
	font-size: 16px;
	font-weight: bold;
}

.profile-wrapper:hover span {
	color: #fff;
}

.profile-wrapper.active span {
	color: #fff;
}

.profile-name {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.profile-wrapper:hover .profile-name {
	color: #ccc;
}

.profile-dropdown {
	position: absolute;
	top: 60px;
	right: -20px;
	width: 150px;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 999; /* increase the z-index value */
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.2s ease-in-out;
}

.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.profile-dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.profile-dropdown li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.profile-dropdown li:last-child {
	border-bottom: none;
}

.profile-dropdown a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

.profile-dropdown a:hover {
	background-color: #ccc;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.profile-dropdown {
		top: 100%;
		right: 0;
	}
}

.dropdown {
	position: relative;
	display: inline-block;

	.nav-item {
		cursor: pointer;
	}

	.dropdown-content {
		display: block;
		position: absolute;
		top: 100%;
		z-index: 1;
		min-width: 200px;
		padding: 8px 0;
		border-radius: 4px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		background-color: #fff;

		.notification {
			padding: 8px;
			cursor: pointer;

			&:hover {
				background-color: #f5f5f5;
			}
		}
	}
}

.search-results {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.search-results ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.search-results li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.search-results li:last-child {
	border-bottom: none;
}

@media screen and (max-width: 768px) {
	.logo {
		margin-right: 20px;
	}

	.middle {
		display: none;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.nav-elements {
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
		background-color: #333;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease-in-out;
		transform: translateY(-100%);
	}

	.nav-elements.active {
		transform: translateY(0);
	}

	.nav-elements ul {
		flex-direction: column;
		align-items: center;
	}

	.nav-elements ul li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.nav-elements ul a {
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		padding: 10px;
	}

	.nav-elements ul a.active::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}

	.nav-profile {
		margin-left: 20px;
	}

	.profile-dropdown {
		top: 50px;
		right: 20px;
		width: 120px;
	}

	.profile-dropdown a {
		padding: 5px;
		font-size: 16px;
	}
}

/* PROFILE  */

/* LOGIN */
// SCSS styles

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #d1d1d1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	.error-message {
		background-color: #f8d7da;
		border: 1px solid #f5c6cb;
		border-radius: 4px;
		color: #721c24;
		display: inline-block;
		font-size: 0.9rem;
		margin-bottom: 1rem;
		padding: 0.75rem 1.25rem;
		text-align: center;
		width: 100%;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 450px;
		padding: 30px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		&__form {
			display: flex;
			flex-direction: column;
			width: 100%;

			&__row {
				display: flex;
				justify-content: space-between;

				& > div {
					width: 47%;
				}
			}

			&__label {
				font-size: 16px;
				margin-bottom: 5px;
			}
		}

		&__title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		hr {
			border: 1px solid black;
			width: 100%;
		}

		&__register-link {
			margin: 10px 0px;
			color: blue;
			text-decoration: underline;
			cursor: pointer;

			&:hover {
				color: navy;
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			width: 100%;

			&__label {
				font-size: 16px;
				margin-bottom: 5px;
			}

			&__input {
				padding: 10px;
				margin-bottom: 10px;
				border-radius: 5px;
				border: 1px solid #ccc;

				&:focus {
					outline: none;
					border-color: blue;
				}
			}

			&__submit {
				padding: 10px;
				background-color: blue;
				color: #fff;
				border: none;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					background-color: navy;
				}
			}
		}
	}
}

/* PROFILE */
.profile-container {
	background-color: #f5f5f5;
	min-height: 100vh;

	.edit-button {
		background-color: $input-color;
		color: white;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}

	.edit-button:hover {
		background-color: $secondary-color;
	}

	.edit-button:active {
		background-color: #4caf50;
		transform: scale(0.98);
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 100px;

		.border {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			background-color: #fff;

			.profile-header {
				display: flex;
				align-items: center;
				flex-direction: row;
				padding: 10px;
				border-bottom: 1px solid black;
				.profile-photo {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					margin-right: 20px;
				}

				.user-info {
					display: flex;
					flex-direction: column;

					h1 {
						margin: 0;
						font-size: 24px;
						font-weight: bold;
					}

					p {
						margin: 0;
						font-size: 16px;
						color: #666;
						display: flex;
						align-items: center;

						span {
							color: #000;
						}
					}
				}
			}
			.profile-main {
				display: flex;

				.left {
					width: 30%;
					padding: 20px;
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					p {
						font-size: 16px;
						margin: 0;
						color: #666;
					}
				}

				.right {
					width: 70%;
					padding: 20px;
					border-left: 1px solid black;
					h3 {
						font-size: 20px;
						margin-bottom: 10px;
					}
					form {
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 20px 0px;

						textarea {
							width: 100%;
							padding: 10px;
							border: 1px solid #ccc;
							border-radius: 5px;
							resize: none;
							margin-bottom: 10px;
							font-size: 16px;
							color: #333;
						}

						input[type='submit'] {
							background-color: #333;
							color: #fff;
							width: 100%;
							border: none;
							border-radius: 5px;
							padding: 10px 20px;
							font-size: 16px;
							cursor: pointer;

							&:hover {
								background-color: #555;
							}
						}
					}
					.post {
						border: 1px solid #ccc;
						border-radius: 5px;
						padding: 20px;
						margin-bottom: 20px;

						.post-header {
							display: flex;
							align-items: center;
							margin-bottom: 10px;

							span {
								cursor: pointer;
							}

							.post-icon {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								background-color: #ccc;
								margin-right: 10px;

								img {
									width: 50px;
									height: 50px;
									border-radius: 50%;
								}
							}

							.post-author {
								font-size: 16px;
								font-weight: bold;
								margin-right: 10px;
							}

							.post-date {
								font-size: 14px;
								color: #666;
							}
						}

						.post-content {
							font-size: 16px;
							color: #333;
							margin-bottom: 10px;
						}

						.post-footer {
							display: flex;
							justify-content: space-between;
							border-top: 1px solid black;

							button {
								background-color: transparent;
								border: none;
								cursor: pointer;
								font-size: 14px;
								color: #666;
								margin-right: 10px;

								&:hover {
									color: #333;
								}
							}
						}
						.comments-section {
							.comment {
								display: flex;
								flex-direction: column;
								background-color: #f2f2f2;
								border-radius: 10px;
								padding: 15px;
								margin-bottom: 10px;

								.comment-header {
									display: flex;
									align-items: center;
									margin-bottom: 10px;

									span {
										cursor: pointer;
									}

									.comment-icon {
										img {
											width: 40px;
											height: 40px;
											border-radius: 50%;
											object-fit: cover;
											margin-right: 10px;
										}
									}

									.comment-author {
										font-weight: 600;
										margin-right: 10px;
									}

									.comment-date {
										font-size: 0.9em;
										color: #999;
									}
								}

								.comment-content {
									white-space: pre-wrap;
									font-size: 0.95em;
									line-height: 1.4;
									margin-bottom: 10px;
								}

								.comment-footer {
									display: flex;

									button {
										font-size: 0.9em;
										background-color: transparent;
										border: none;
										outline: none;
										cursor: pointer;
										padding: 5px;
										border-radius: 5px;
										transition: background-color 0.3s;

										&.liked {
											color: #e74c3c;
										}

										&:hover {
											background-color: #ddd;
										}

										&:not(:last-child) {
											margin-right: 10px;
										}
									}
								}
							}

							form {
								display: flex;
								align-items: center;
								margin-top: 10px;

								input {
									flex-grow: 1;
									padding: 8px 12px;
									border: 1px solid #ccc;
									border-radius: 5px;
									outline: none;
									transition: border-color 0.3s;
									font-size: 0.95em;
									margin-right: 10px;

									&:focus {
										border-color: #999;
									}
								}

								button {
									background-color: #3498db;
									color: #fff;
									border: none;
									padding: 8px 16px;
									border-radius: 5px;
									font-size: 0.95em;
									cursor: pointer;
									transition: background-color 0.3s;

									&:hover {
										background-color: #2980b9;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.mainpage-container {
	max-width: 1300px;
	margin: 0 auto;
	.post {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 20px;
		margin-bottom: 20px;

		.post-header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			span {
				cursor: pointer;
			}

			.post-icon {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: #ccc;
				margin-right: 10px;

				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
			}

			.post-author {
				font-size: 16px;
				font-weight: bold;
				margin-right: 10px;
			}

			.post-date {
				font-size: 14px;
				color: #666;
			}
		}

		.post-content {
			font-size: 16px;
			color: #333;
			margin-bottom: 10px;
		}

		.post-footer {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid black;

			button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				font-size: 14px;
				color: #666;
				margin-right: 10px;

				&:hover {
					color: #333;
				}
			}
		}
		.comments-section {
			.comment {
				display: flex;
				flex-direction: column;
				background-color: #f2f2f2;
				border-radius: 10px;
				padding: 15px;
				margin-bottom: 10px;

				.comment-header {
					display: flex;
					align-items: center;
					margin-bottom: 10px;

					span {
						cursor: pointer;
					}

					.comment-icon {
						img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							object-fit: cover;
							margin-right: 10px;
						}
					}

					.comment-author {
						font-weight: 600;
						margin-right: 10px;
					}

					.comment-date {
						font-size: 0.9em;
						color: #999;
					}
				}

				.comment-content {
					white-space: pre-wrap;
					font-size: 0.95em;
					line-height: 1.4;
					margin-bottom: 10px;
				}

				.comment-footer {
					display: flex;

					button {
						font-size: 0.9em;
						background-color: transparent;
						border: none;
						outline: none;
						cursor: pointer;
						padding: 5px;
						border-radius: 5px;
						transition: background-color 0.3s;

						&.liked {
							color: #e74c3c;
						}

						&:hover {
							background-color: #ddd;
						}

						&:not(:last-child) {
							margin-right: 10px;
						}
					}
				}
			}

			form {
				display: flex;
				align-items: center;
				margin-top: 10px;

				input {
					flex-grow: 1;
					padding: 8px 12px;
					border: 1px solid #ccc;
					border-radius: 5px;
					outline: none;
					transition: border-color 0.3s;
					font-size: 0.95em;
					margin-right: 10px;

					&:focus {
						border-color: #999;
					}
				}

				button {
					background-color: #3498db;
					color: #fff;
					border: none;
					padding: 8px 16px;
					border-radius: 5px;
					font-size: 0.95em;
					cursor: pointer;
					transition: background-color 0.3s;

					&:hover {
						background-color: #2980b9;
					}
				}
			}
		}
	}
}

/* PROFILE MODALS*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.modal-content {
	position: relative;
	max-width: 600px;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
	margin-top: 0;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.modal-content label {
	display: block;
	margin-bottom: 10px;
}

.modal-content input[type='text'] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-size: 16px;
}

.modal-content input[type='submit'],
.modal-content button {
	display: block;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.modal-content input[type='submit']:hover,
.modal-content button:hover {
	background-color: #f2f2f2;
}

.bio-textarea {
	width: 100%;
	height: 120px;
	margin: 10px 0;
	padding: 10px;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
	border: 2px solid #ccc;
	border-radius: 6px;
	resize: none;
}

/* Desktop Styles */
.profile-container .wrapper {
	max-width: 1200px;
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
	.profile-container .wrapper {
		max-width: 768px;
		padding-top: 60px;
	}
	.profile-container .wrapper .border .profile-main {
		flex-direction: column;
	}
	.profile-container .wrapper .border .profile-main .left,
	.profile-container .wrapper .border .profile-main .right {
		width: 100%;
		border: none;
	}
	.profile-container .wrapper .border .profile-main .right {
		margin-top: 20px;
	}
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
	.profile-container .wrapper {
		padding-top: 40px;
	}
	.profile-container .wrapper .border .profile-header {
		flex-direction: column;
		align-items: center;
	}
	.profile-container .wrapper .border .profile-header .profile-photo {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.profile-container .wrapper .border .profile-header .user-info {
		text-align: center;
	}
	.profile-container .wrapper .border .profile-main {
		flex-direction: column;
	}
	.profile-container .wrapper .border .profile-main .left,
	.profile-container .wrapper .border .profile-main .right {
		width: 100%;
		border: none;
		padding: 10px;
	}
	.profile-container .wrapper .border .profile-main .right {
		margin-top: 20px;
	}
}

.modal-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.profile-header__image {
	position: relative;
}

.profile-header__image img.profile-photo {
	transition: filter 0.2s;
}

.profile-header__image:hover img.profile-photo {
	filter: brightness(70%);
}

.profile-header__image .edit {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white; /* set the color of the icon */
	font-size: 1.5rem; /* set the size of the icon */
	cursor: pointer;
}

.profile-header__image:hover .edit {
	display: block;
}

button.liked {
	color: red;
}

.users-i-follow {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 1rem;
	}

	.followings-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1rem;

		.following-user {
			padding: 1.5rem;
			border: 1px solid #e1e1e1;
			border-radius: 8px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			text-align: center;

			.profile-picture {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				object-fit: cover;
				margin-bottom: 1rem;
			}

			h3 {
				font-size: 1.2rem;
				font-weight: 600;
				color: #333;
				margin-bottom: 0.5rem;
			}

			p {
				font-size: 1rem;
				font-weight: 400;
				color: #666;
			}

			.view-button {
				font-size: 1rem;
				font-weight: 600;
				color: #ffffff;
				background-color: #4a90e2;
				border: none;
				border-radius: 4px;
				padding: 0.5rem 1.5rem;
				margin-top: 1rem;
				margin-left: 10px;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: #3a78c1;
				}
			}
		}
	}
}

.admin-container {
	max-width: 1300px;
	margin: 0 auto;
}

.MuiIconButton-root {
	padding: 6px;
}
